<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" th:href="@{images/typer.png}" type="image/x-icon" />

    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous"
    />
    <link rel="stylesheet" th:href="@{~/styles/index.css}" />

    <title>Administrator Dashboard - Typer</title>
</head>
<body>
<nav class="navbar navbar-light bg-white shadow-sm">
    <div class="container-sm">
        <a class="navbar-brand" th:href="@{/users/admin}">Typer</a>
        <div class="d-flex">
            <div class="dropdown d-flex">
                <button
                        class="btn dropdown-toggle"
                        type="button"
                        id="dropdownMenu2"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                >
                    Menu
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <li>
                        <a th:href="@{/signIn}" style="text-decoration: none">
                            <button class="dropdown-item" type="button">Logout</button>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<div class="container-sm leaderboards-container" style="margin-top: 60px">
    <h4 class="mb-4">Administrator Dashboard</h4>

    <table class="table table-hover table-striped">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Username</th>
            <th scope="col">Round</th>
            <th scope="col">Score</th>
            <th scope="col">Date Created</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="games, iterationNumber : ${games}">
                <th scope="row">
                    <span th:text="${iterationNumber.index + 1}"></span>
                </th>
                <td>
                    <span th:text="${games.Users.Username}"></span>
                </td>
                <td>
                    Round
                    <span th:text="${games.Round}"></span>
                </td>
                <td>
                    <span th:text="${games.Score}"></span>
                    points
                </td>
                <td>
                    <span th:text="${#dates.format(new java.util.Date(games.Datecreated), 'MMM. dd yyyy HH:mm')}"></span>
                </td>
                <td>
                    <form th:method="DELETE" th:action="@{/games}" th:object="${existingGame}">
                        <input type="hidden" th:value="${games.Gameid}" th:name="gameid"/>
                        <button type="submit" class="btn btn-danger">Delete</button>

                        <p th:if="${#fields.hasErrors('gameid')}"
                           th:text="${#strings.listJoin(#fields.errors('gameid'), ', ')}" class="text-danger"></p>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"
></script>
</body>
</html>
