<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" th:href="@{~/images/typer.png}" type="image/x-icon" />

    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous"
    />
    <link rel="stylesheet" th:href="@{~/styles/index.css}" />

    <title>Home - Typer</title>
</head>
<body>
<nav class="navbar navbar-light bg-white shadow-sm">
    <div class="container-sm">
        <a class="navbar-brand" th:href="@{/games}">Typer</a>
        <div class="d-flex">
            <a th:href="@{/games/leaderboards}"
            ><button class="btn" type="button">Leaderboards</button></a
            >
            <div class="dropdown d-flex">
                <button
                        class="btn dropdown-toggle"
                        type="button"
                        id="dropdownMenu2"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                >
                    Username
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <li>
                        <a th:href="@{/games/history}" style="text-decoration: none">
                            <button class="dropdown-item" type="button">
                                Game History
                            </button>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/signIn}" style="text-decoration: none">
                            <button class="dropdown-item" type="button">Logout</button>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<div class="container-sm" style="margin-top: 60px">
    <div class="card-body">
        <div class="d-flex bd-highlight">
            <div class="p-2 flex-grow-1 bd-highlight">
                <span id="time">0</span>s
            </div>
            <div class="p-2 bd-highlight">ROUND <span id="round"></span></div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body" style="background-color: #89c8fc">
                        <p class="card-title my-0"><span id="score">0</span> POINTS</p>
                    </div>
                </div>
            </div>
        </div>

        <p class="text-start mt-4 mb-4" id="start_text">
            Type <span class="font-monospace" id="">start</span> to begin
        </p>

        <p class="text-start mt-4 mb-4" id="current_word">coconut</p>

        <input
                class="form-control form-control-lg"
                type="text"
                placeholder="start"
                name="wordInput"
                aria-label="word input"
                id="text_field"
        />

        <div id="end_game_score_wrapper" class="mt-4" style="display: none;">
            <p>
                You got <span id="end_game_score" class="fw-bold">0</span> points
                and made it to Round
                <span id="end_game_round" class="fw-bold">0</span>!
            </p>

            <form th:method="POST" th:action="@{/games}" th:object="${newGame}">
                <input type="hidden" value="" id="scoreInput" name="score" th:field="*{score}"/>
                <p th:if="${#fields.hasErrors('score')}"
                   th:text="${#strings.listJoin(#fields.errors('score'), ', ')}" class="text-danger"></p>

                <input type="hidden" value="" id="roundInput" name="round" th:field="*{round}"/>
                <p th:if="${#fields.hasErrors('round')}"
                   th:text="${#strings.listJoin(#fields.errors('round'), ', ')}" class="text-danger"></p>

                <button type="submit" class="btn btn-primary">Save Record</button>
            </form>

        </div>
    </div>
</div>

<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"
></script>

<script type="text/javascript" th:src="@{~/scripts/home.js}"></script>
</body>
</html>
